<div class="batman">
	<%= link_to "ir a batman", pages_batman_path %>
	<form action="">
		<input type="text" name:"email">
		<input type="submit" value:"enviar">
	</form>
</div>
<div class="superman">
	<%= link_to "ir a superman", pages_superman_path %>
	<form action="">
		<input type="text" name:"email">
		<input type="submit" value:"enviar">
		<%= params %>
	</form>
</div>