<h1>Experiments#page3</h1>
<p>Find me in app/views/experiments/page3.html.erb</p>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, nesciunt, repellendus eaque rerum quidem tenetur voluptatum vel, accusantium placeat soluta necessitatibus! Soluta, numquam. Voluptatibus aut aspernatur libero, nesciunt autem fuga.