<h1>Experiments#page2</h1>
<p>Find me in app/views/experiments/page2.html.erb</p>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea voluptate unde expedita reiciendis ipsum, soluta eveniet rerum, molestias adipisci, eligendi voluptatum repellendus repellat ad dolorem. Saepe fugit id, nisi quasi.