<h1>Experiments#page1</h1>
<p>Find me in app/views/experiments/page1.html.erb</p>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dolores, repellat magni ducimus amet iure deserunt aut sit ex quia quidem iste, sed voluptatum ipsa accusantium eaque ratione facilis in.